@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-easing';

/* atkinson-hyperlegible-latin-400-normal */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/atkinson-hyperlegible@latest/latin-400-normal.woff2)
			format('woff2'),
		url(https://cdn.jsdelivr.net/fontsource/fonts/atkinson-hyperlegible@latest/latin-400-normal.woff)
			format('woff');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
	--font-sans: 'Atkinson Hyperlegible', sans-serif;
	--font-mono: 'Iosevka Fixed SS14 Web', monospace;

	--color-bg: #141b1e;
	--color-fg: #dadada;
	--color-dbg: #0a1114;
	--color-lbg: #232a2d;
	--color-mbg: #404749;
	--color-mfg: #b3b9b8;

	--color-accent: #67b0e8;

	--color-black: #0a1114;
	--color-red: #e57474;
	--color-green: #8ccf7e;
	--color-yellow: #e5c76b;
	--color-blue: #67b0e8;
	--color-magenta: #c47fd5;
	--color-cyan: #6cbfbf;
	--color-white: #dadada;
}

@custom-variant noscript (&:not(.jsenabled *));

@keyframes load-anim {
	0% {
		visibility: hidden;
	}
	50%,
	100% {
		visibility: visible;
	}
}

@keyframes slide-in {
	0% {
		opacity: 0%;
		transform: translateY(3rem);
	}
	100% {
		opacity: 100%;
		transform: translateY(0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
