@import url('https://fonts.googleapis.com/css2?family=Asset&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tiny5&display=block');

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

.tiny5-regular {
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
}

.asset-regular {
    font-family: "Asset", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-condensed {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}